* {
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: #b7b4b4 #d9d9d9;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #d9d9d9;
}

*::-webkit-scrollbar-thumb {
  background-color: #b7b4b4;
}

body {
  background: linear-gradient(#d9d9d9 calc(100% - 400px), #737373);
  font-family: "Playfair Display", serif;
  display: grid;
  height: 100%;
  width: 90vw;
  max-width: 1000px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

button,
a {
  cursor: pointer;
}

.TextAlignRight {
  text-align: right;
}

.TextAlignCenter {
  text-align: center;
}

.TextShadowLink {
  transition-duration: 0.3s;
}

.TextShadowLink:hover {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

h2.SectionTitle {
  font-size: 2em;
}

header.MainPage {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.MainPage img {
  height: 90px;
}

header.MainPage .MainPageNav {
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 5vw;
  margin-left: 40px;
}

header.MainPage .MainPageNav a {
  transition-duration: 0.3s;
}

header.MainPage .MainPageNav a:hover {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.AboutUs h1 {
  margin: 0;
  font-size: 3rem;
}

.AboutUs h2 {
  font-size: 1.6rem;
}

.AboutUs p:first-of-type {
  font-weight: bold;
  text-align: justify;
}

.NewsTiles {
  aspect-ratio: 2/1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 10px;
}

.Tile,
.ExpandedTile {
  border-radius: 10px;
  background-color: #70738e;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition-duration: 0.4s;
}

.Tile {
  height: 100%;
  padding: 10px;
}

.Tile:hover {
  transform: translateY(2px);
}

.Tile .DatePost,
.ExpandedTile .DatePost {
  margin: 0;
  text-align: right;
}

.Tile .PhotoPost {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  margin: 10px 0;
  flex-grow: 1;
}

.Tile .TitlePost {
  padding-bottom: 10px;
  font-size: 1.1rem;
}

.Tile .TitlePost,
.ExpandedTile .TitlePost {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Tile .SeeMore,
.ExpandedTile .SeeMore {
  margin: 0;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  padding: 0;
}

.ExpandedTile {
  padding: 10px 20px;
}

.ExpandedTile .PhotoPost {
  max-width: 100%;
  max-height: 400px;
  align-self: center;
  margin: 12px 0;
}

.ExpandedTile .TitlePost {
  font-size: 1.5rem;
  padding-bottom: 4px;
}

.ExpandedTile .CategoryPost {
  margin: 0;
  font-weight: 500;
  padding-bottom: 12px;
}

.ExpandedTile .ContentPost {
  text-align: justify;
  margin: 0;
  padding-bottom: 10px;
}

.EducationTiles {
  aspect-ratio: 1/1;
}

.EducationRow1,
.EducationRow2 {
  display: flex;
  aspect-ratio: 2/1;
}

.EducationTile {
  display: flex;
  padding: 20px 30px;
  font-size: 1.6em;
  font-weight: bold;
  position: relative;
  transition-duration: 0.6s;
}

.EducationTile:hover {
  transform: scale(1.025);
  z-index: 5;
}

.BottomText {
  align-items: end;
  padding-right: 60px;
}

.TopText {
  align-items: start;
}

#education-tile-1 {
  background: linear-gradient(#857979, #1f1c1c);
  aspect-ratio: 1/1;
  color: white;
}

#education-tile-2 {
  background: linear-gradient(#ffffff, #857979);
  aspect-ratio: 1/1;
}

#education-tile-3 {
  background: linear-gradient(#64647a, #1f1c1c);
  aspect-ratio: 2/1;
  color: white;
}

.EducationTile p {
  margin: 0;
}

.BottomText .TileText {
  padding-right: 40px;
}

.RightArrow {
  border-style: solid;
  border-width: 0 5px 5px 0;
  border-radius: 2px;
  display: inline-block;
  padding: 20px;
  transform: rotate(-45deg);
  position: absolute;
  bottom: 30px;
  right: 40px;
}

.CaseStudy {
  display: flex;
  align-items: center;
  gap: 16px;
}

.CaseStudy img {
  height: 26px;
  width: 26px;
}

.CaseStudy h3 {
  font-size: 1.4em;
}

footer {
  display: flex;
  gap: 4vw;
  padding-top: 60px;
  padding-bottom: 40px;
}

footer img {
  height: 160px;
}

footer p {
  overflow: hidden;
  overflow-wrap: break-word;
}
