header.NewsPage {
  display: flex;
  gap: 40px;
  padding: 10px 0px 20px;
}

header.NewsPage img {
  height: 200px;
}

header.NewsPage div {
  display: flex;
  flex-direction: column;
}

header.NewsPage div h1 {
  margin: 0;
  font-size: 3rem;
  padding: 20px 0px 5px;
}

header.NewsPage div h2 {
  margin: 0;
  font-size: 1.8rem;
}

main {
  padding-bottom: 60px;
}

.MainPageLink {
  max-width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.MainPageLink p {
  margin: 0;
  padding-top: 4px;
}

.NewsPost .Title,
.NewsPost p {
  margin: 0;
}

.NewsPost .Title {
  font-size: 1.4rem;
}

.NewsPost .Content {
  padding-top: 16px;
}

.NewsPost hr {
  border: 1px solid #b7b4b4;
  margin: 35px 0px 20px;
}
