:root {
  --background-color: #d9d9d9;
  --delete-red: #a00000;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  margin: 0;
}
